@import "tailwindcss";

:root {
  --primary: oklch(1 0 0);
  --secondary: #010d3e;
}
@layer utilities {
  .text-secondary {
    color: var(--secondary);
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
  font-family: "Switzer", sans-serif;
  position: relative;
  overflow-x: hidden;
}

.center {
  @apply flex justify-center items-center;
}

.container {
  @apply m-auto px-2 sm:px-4 md:px-8 lg:px-16;
}

.gradient-text {
  background: linear-gradient(to bottom, #000000 0%, #001354 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  @apply pb-4;
}

.hero-gradient {
  background: linear-gradient(
    to bottom left,
    #ffffff 0%,
    #f0f4ff 60%,
    #183ec2 100%
  );
}

.about-gradient {
  background: linear-gradient(to bottom, #ffffff 0%, #f0f4ff 60%, #d2dcff 100%);
}

.section-space {
  @apply my-20 pb-10;
}
.gradiant-text {
  background: linear-gradient(
    to right,
    #dd7dff 0%,
    #e1cd86 29%,
    #8bcb92 51%,
    #71c2ef 76%,
    #3bffff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
